.app {
  height: 100vh;
  background-image: url("https://static.vecteezy.com/system/resources/previews/020/533/249/original/chat-bot-background-with-blue-gradient-and-circuits-free-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
